@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_aZA3g3D-w.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3g3D-w.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hzg.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptsg8zYS_SKggPNyCg4TYFv.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqZPBQ.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../libs/fonts/Montserrat-Bold.eot');
    src: url('../libs/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../libs/fonts/Montserrat-Bold.woff2') format('woff2'), url('../libs/fonts/Montserrat-Bold.woff') format('woff'), url('../libs/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

body .fullscreen {
    z-index: -2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#header .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#header .center .top {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

#header .center .top p {
    margin-top: 5px;
}

#header .center .top .renctangle {
    border-bottom: 1px solid #262626;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
}

#header .center .top .renctangle div {
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1.5px solid #262626;
}

#header .center .top .renctangle div p {
    margin: 0;
    color: #ddd7d7;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #262626;
}

#header .center .bottom {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#header .center .bottom a {
    text-decoration: none;
    color: #262626;
}

#header img {
    height: 160px;
    width: 220px;
}

@media screen and (max-width: 768px) {
    #header img {
        display: none;
    }
}

@media screen and (max-width:830px) {
    .item_icon1 {
        flex-basis: 185px;
    }
}

@media screen and (max-width:830px) {
    .item_icon2 {
        flex-basis: 185px;
    }
}

@media screen and (max-width:830px) {
    .item_icon3 {
        flex-basis: 185px;
    }
}

/* Main */
#main {
    justify-content: center;
    z-index: 0;
    top: 250px;
    left: 0;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

#main img {
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border: 4px solid #262626;
    background-color: #fff;
    display: block;
    max-width: 100%;
}
}

.author {
    height: 250px;
    position: relative;
    width: 190px;
}

.author:after {
    opacity: 0;
}


.author:hover:after {
    content: ' ';
    background-color: #555454;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
}

.item_icon1 {
    transition: 1s;
}

.item_icon1:hover {
    transform: scale(1.1);
}


.item_icon1 {
    margin: 15px;
    margin-bottom: 30px;
    margin-top: 179px;
}

.item_icon2 {
    transition: 1s;
}

.item_icon2:hover {
    transform: scale(1.1);
}

.item_icon2 {
    margin: 15px;
    margin-bottom: 80px;
    margin-top: 129px;
}


.item_icon3 {
    transition: 1s;
}

.item_icon3:hover {
    transform: scale(1.1);

}

.item_icon3 {
    margin: 15px;
    margin-bottom: 120px;
    margin-top: 88px;
}


.author:hover .text_1 {
    opacity: 1;
}

.author:hover .text_2 {
    opacity: 1;
}

.author:hover .text_3 {
    opacity: 1;
}

.author:hover .text_4 {
    opacity: 1;
}

.author:hover .text_5 {
    opacity: 1;
}

.author:hover .text_6 {
    opacity: 1;
}

.text_1 {
    opacity: 0;
    width: 100;

    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 15%;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transform: opacity .1s linear;
}

.text_2 {
    opacity: 0;
    width: 100;

    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 20%;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transform: opacity .1s linear;
}

.text_3 {
    opacity: 0;
    width: 100;

    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 25%;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transform: opacity .1s linear;
}

.text_4 {
    opacity: 0;
    width: 100;

    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 20%;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transform: opacity .1s linear;
}

.text_5 {
    opacity: 0;
    width: 100;

    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transform: opacity .1s linear;
}

.text_6 {
    opacity: 0;
    width: 100;

    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 20%;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transform: opacity .1s linear;
}


/*Reviews*/
.revs p {
    height: auto;
    width: 100%;
    color: #333;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 40px;
}

#reviews {
    margin-top: 60px;
    padding-top: 10px;
    background-color: #efe6e6;
    display: block;
    flex-direction: column;
    padding-bottom: 30px;
}

/*
* {
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

* //


#slider_box > ul > li {
    float: left;
    display: block;
    height: 150px;
}

#slider_box > ul {
    overflow: hidden;
    width: 1000%;
}

#slider_box {
    overflow: hidden;
    position: relative;
    left: 57px;
}

#left_nav {
    float: left;
    padding-top: 14px;
}

#nav_slider > div {
    width: 30px;
    height: 30px;
}

#right_nav {
    float: right;
    padding-top: 15px;
}

#nav_slider {
    overflow: hidden;
    position: relative;
    top: -105px;
    left: 5px;
}

#slider {
    background-color: #efe6e6;
    overflow: hidden;
    padding-left: 310px;
    padding-right: 310px;
}

#slider img {
    height: 100%;
    width: 100%;
}

/* Contacts */
.picpic {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.pic {
    width: 100%;
    height: auto;
}


#contacts {
    background-color: #323131;
    display: block;
    flex-direction: column;
    padding-bottom: 14px;
}


.top_footer {
    font-size: 25px;
    color: #ddd7d7;
    text-align: center;
}

.top_footer p {
    margin: 0 auto;
    padding-top: 20px;
}

#contacts img {
    height: 60px;
    width: 67px;
}

.center_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_item {
    justify-content: flex-start;
    flex: 1 1 0;
    display: flex;
    padding-left: 45px;
    padding-right: 91px;
    position: relative;
    border-right: 1px solid #000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer_text {
    font-size: 14px;
    padding-left: 25px;
    color: #ddd7d7;
    margin-top: 17px;
    justify-content: flex-start;
}

.bottom_footer {
    font-size: 11px;
    color: #ddd7d7;
    text-align: center;
    text-transform: uppercase;
}

.bottom_footer p {
    margin: 0 auto;
    padding-top: 5px;
}











































































/*# sourceMappingURL=style.css.map */
